[submodule "user-matane-api"]
	path = user-matane-api
	url = https://github.com/ToebagusFarhan/user-matane-api.git
[submodule "predict-matane-api"]
	path = predict-matane-api
	url = https://github.com/ToebagusFarhan/predict-matane-api.git
